@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

html {
  font-family: 'Rubik', sans-serif;
}

:root {
  //Text color
  --green-light: #4EBEBE;
  --green-dark: #3C848E;
}