.error {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #990000;
  margin: 30px auto;
}

.error-text {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px auto;
}